html{
	background: #ededed
}

body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
    background-image: image()
    background-attachment: fixed;
}
div {
    display: block;
}

li{
    font-size: 30;
    padding-right: 40px;
    color: white;
}
.smoothscroll1{
 font-size: 50;   
}
.navbar{
 border-radius: 0px;
    opacity: 0.8;
}
.navbar-inverse .navbar-nav>li>a{
 color: black;   
}
.navbar-inverse{
 background-color: grey;  
 border-color: grey;
}
.active{
 background-color:grey;   
}
.navbar-header{
   list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
    
}
