html{
	background: #ededed
}

body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.center-wrapper{
	
	margin: 0px auto;
	width: 80%;
	max-width: 1000px;
}

.header{
	position: fixed;
	top: 0px;;
	width: 100%;
	height: 80px;
	background-color: #FDF3E7;
	z-index: 10;
    color:black;
}

.header-button{
	height: 100%;
	float: left;
	font-weight: 100;
	font-size: 30px;
	color: black;
	padding-top: 20px;
	width: 20%;
}

.header-button-name{
 height: 100%;
	float: left;
	font-weight: 100;
	font-size: 30px;
	color: black;
	padding-top: 20px;
	width: 30%; 
}


.button-wrapper{
	width: 1000px;;
	margin-left: auto;
	margin-right: auto;
}

.name{
    font-weight: 200;
    width: 40%;
    color: white;
}

.about-i{
	height: 750px;
	margin-top: 70px;
}

.i-right{
	position: absolute;
	right: 0px;
	height: inherit;
}

.i-left{
	float: right;
	margin-right: 640px;
	width: calc(100% - 640px);
	min-width: 410px;
	height: inherit;
}

.big-letters{
	width: calc(85% - 640px);
	position: absolute;
	left: 15%;
	height: 400px;;
	z-index: 5;
	top: 200px;
    font-size: 40px;
    font-weight: 300;
	max-width: 350px;
}

.i-d-head{
	font-size: 50px;
	font-weight: 300;
	color: #ffffff;
}

.i-d-body{
    font-size: 20px;
    font-weight: 400;
    color: #494949;
}

.about-text{
	padding: 60px 0px;
	background-color: #444444;	
	display: none;	
}


.d-head{
	font-size: 50px;
	font-weight: 200;
	color: #b3b3b3;
}

.d-body{
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
}

.projects-video{	
	background-color: #222222;
}

.projects-title{
	background-color: #222222;
	padding-top: 60px;
	padding-bottom: 20px;
}

.section-title{
	background-color: #ffffff;
	padding-top: 40px;
	padding-bottom: 40px;
}

.v-head{
	color: #FFFFFF;
	font-weight: 400;
	font-size: 40px
	
}

.v-body{
	color: #eeeeee;
	font-weight: 200;
	font-size: 15px;
}

.title{
	text-align: center;
	font-weight: 100;
	color: #000000;
	font-size: 60px;
}

.projects-image{
    background-color: #222222;
    padding-bottom: 40px;	
}

.p-image{
	width: 100%;
	padding: 0px;
}

.p-button{
	width: 100%;
	height: 30px;
	background-color: #aeaeae;
	color: #333333;
	text-align: center;
	padding: 10px 0px;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;	
}


a{
    text-decoration: none;
}

@media (max-width: 980px) {

.i-description{
	
	display: none;
	
}

.about-text{
	
	display: block;
	
}

.header-button{
	
	font-size: 25px;
	font-weight: 600;
	padding-top: 25px;
	
}

}



.contact-body{
	
	background-color: #444444;
	
}

.contact-wrapper{
	
	padding-top: 60px;
	padding-bottom: 60px;
}


.contact-box{
	
	width: 25%;
	margin-left: 5%;
	
}

.footer{
	
	text-align: center;
	color: #999999;
	font-size: 15px;
	padding: 100px 0px;
	
}

.scroll-anchor{
	
	position: absolute;
	margin-top: -80px;
	
}


